.container {
	text-align: center;
	background-color: white;
}

.questions {
	margin-left: 10px;
}

hr {
    border-color: black;
    width: 100%;
}

button {
	height: 50px;
	width: 100px;
}

body {
	background-image: url("../images/background.png")
}
