body {
	background-image: url("../images/background.png")
}

hr {
    border-color: black;
    width: 100%;
}

button {
	height: 50px;
	width: 100px;
	margin-bottom: 20px;
}

.container {
	text-align: center;
	background-color: white;
}